# Add the list of code owners here (using their GitHub username)
* @stsquad @vireshk @stefano-garzarella @epilys
/vhost-device-gpu/ @dorindabassey
/vhost-device-scmi/ @mz-pdm
/vhost-device-sound/ @dorindabassey