[package]
name = "vhost-device-video"
version = "0.1.0"
authors = ["Albert Esteve <aesteve@redhat.com>"]
description = "A virtio-video device using the vhost-user protocol."
repository = "https://github.com/rust-vmm/vhost-device"
readme = "README.md"
keywords = ["vhost", "video", "virt", "backend"]
license = "Apache-2.0 OR BSD-3-Clause"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[features]
xen = ["vm-memory/xen", "vhost/xen", "vhost-user-backend/xen"]
default = ["v4l2-decoder"]
v4l2-decoder = ["v4l2r"]

[dependencies]
bitflags = "2.10.0"
clap = { version = "4.5",  features = ["derive"] }
env_logger = "0.11"
epoll = "4.4"
num_enum = "0.7"
log = "0.4"
libc = "0.2.177"
thiserror = "2.0"
futures-executor = { version = "0.3", features = ["thread-pool"] }
vhost = { version = "0.14", features = ["vhost-user-backend"] }
vhost-user-backend = "0.20"
virtio-bindings = "0.2.5"
virtio-queue = "0.16"
vm-memory = "0.16.0"
vmm-sys-util = "0.14"
v4l2r = { git =  "https://github.com/Gnurou/v4l2r", rev = "110fd77", optional = true }

[dev-dependencies]
assert_matches = "1.5"
rstest = "0.26.1"
tempfile = "3.23.0"
virtio-queue = { version = "0.16", features = ["test-utils"] }
vm-memory = { version = "0.16.0", features = ["backend-mmap", "backend-atomic"] }
