[package]
name = "vhost-device-input"
version = "0.1.0"
authors = ["Leo Yan <leo.yan@linaro.org>"]
description = "vhost input backend device"
repository = "https://github.com/rust-vmm/vhost-device"
readme = "README.md"
keywords = ["virtio-input", "vhost-user", "vhost", "virtio", "rust-vmm"]
categories = ["virtualization"]
license = "Apache-2.0 OR BSD-3-Clause"
edition = "2021"

[features]
xen = ["vm-memory/xen", "vhost/xen", "vhost-user-backend/xen"]

[dependencies]
clap = { version = "4.5", features = ["derive"] }
env_logger = "0.11"
epoll = "4.3"
libc = "0.2"
log = "0.4"
rand = "0.9.1"
tempfile = "3.20"
thiserror = "2.0"
vhost = { version = "0.14", features = ["vhost-user-backend"] }
vhost-user-backend = "0.19"
virtio-bindings = "0.2.5"
virtio-queue = "0.15"
vm-memory = "0.16.1"
vmm-sys-util = "0.14"
evdev = "0.13"
nix = { version = "0.30", features = ["ioctl"] }

[dev-dependencies]
assert_matches = "1.5"
virtio-queue = { version = "0.15", features = ["test-utils"] }
vm-memory = { version = "0.16", features = ["backend-mmap", "backend-atomic"] }
